:root {
	--max-width: 1280px;
	--width-interno: 1216px;
	--border: 32px;
	--background: rgb(248, 248, 248)
}

* {
	margin: 0;
	padding: 0;
}
body, pre, code, kbd, samp, input {
	font-family: 'Press Start 2P';
	/* line-height: 15px; */
	background: #555;
}
h2, h3 {
	font-size: 22px;
}
label, span {
	margin-top: 20px;
	font-size: 1.5rem;
}
input {
	padding-top: 20px;
	height: 100%;
	padding-left: 1px;
	outline:none;
}

li {
	list-style: none;
	cursor: pointer;
	height: 52px;
	padding-left: 50px ;
	transform: translateY(12px);
}

.option-selected {
	background: url('img/arrow-empty.png');
	background-size: 32px;
	background-repeat: no-repeat;
}

li:hover {
	background: url('img/arrow.png');
	background-size: 32px;
	background-repeat: no-repeat;
}

.header {
	display: flex;
	max-width: var(--max-width);
	margin: 0 auto;
}

.header div img {
	height: 120px;
}

.search-bar {
	margin: 25px auto;
	width: 100%;
	max-width: var(--max-width);
}

.search-bar-content {
	height: 79px;
	padding: 20px 0px;
	padding-left: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.search-bar-underline {
	display: flex;
	bottom: 2px;
}
.underline-down {
	width: 24px;
	height: 15px;
	background-image: url("img/searchBar.png");
}
.underline-top {
	width: 24px;
	height: 15px;
	background-image: url("img/searchBar2.png");
}

#search-input {
	caret-color: transparent;
	border: none;
	letter-spacing: 4px;
	height: 25px;
	transform: translate(0, -2px);
	font-size: 20px;
	width: 240px;
}

.search-bar-sort-button, .search-bar-filter-button {
	cursor: pointer;
	height: fit-content;
	width: fit-content;
    margin-top: 40px;
    font-size: 1.5rem;
}

.search-bar-sort-menu {
	position: absolute;
	background: white;
	width: fit-content;	
	height: fit-content;
	transform: translateY(-126px) translateX(-80px);
	display: flex;
	flex-direction: column;
}

.search-bar-filter-menu {
	position: absolute;
	background: white;
	width: fit-content;
	height: fit-content;
	transform: translateY(-126px) translateX(-431px);
}

.filter-menu {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.main {
	margin: 0 auto;
	max-width: var(--max-width);
}

#main-loading {
	padding: 20px;
	font-size: 20px;
}

.info-panel {
	left: 50%;
	width: 100vw;
	height: 100vh;
    transform: translateX(-50%);
	background: white;
	top: 0;
	position: fixed;
	max-width: 1280px;
}
.info-content {
	display: grid;
	grid-template-columns: 45% 55%;
	grid-template-rows: 10% 45% 5% 40%;
	grid-template-areas: 
					"info-panel-margin info-panel-margin"
					"info-panel-card info-panel-stats"
					"info-panel-border info-panel-border"
					"info-panel-description info-panel-description";
}
.info-panel-card {
	box-sizing: content-box;
	text-align: center;
	display: flex;
	padding: 10px;
	flex-direction: column;
	grid-area: info-panel-card;
	font-size: 22px;
	gap: 10px;
}
.info-panel-img {
	transform:scaleX(-1);
	height: 30vh;
	object-fit: contain;
}
.info-panel-stats {
	grid-area: info-panel-stats;
	padding: 10px;
	text-transform: uppercase;
	font-size: 23px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.info-panel-border {
	background-image: url("img/info-panel-border.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	grid-area: info-panel-border;
}
.info-panel-description {
	display: flex;
	flex-direction: column;
	grid-area: info-panel-description;
}
.info-panel-description-text {
	padding: 25px;
	font-size: 22px;
	line-height: 45px;
}
.info-panel-description-close {
	cursor: pointer;
	display: none;
	/* margin-top: auto;
	margin-left: auto; */
	font-size: 14px;
}

.info-panel-description-arrow {
	transform: translateY(-4px) rotate(90deg);
}

.interval-animation {
	display: inline-flex;
	transition: ease-out repeat;
}

.flex {
	padding-top: 15px;
	margin: 0 auto;
	max-width: var(--width-interno);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 15px;
}

.card {
	cursor: pointer;
	outline: 4px black solid;
	font-size: 8px;
	width: 200px;
}

.card-header {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 4px solid black;
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-body-img {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 190px;
	height: 190px;
	background-color: white;
}

.card-body-title {
	z-index: 100;
	height: max-content;
	text-transform: uppercase;
	margin-top: 2rem;
	font-size: 16px;
	margin-bottom: .5rem;
}

.card-body-title span {
	text-transform: initial;
}

.card-body-number {
	margin-top: 10px;
	font-size: 14px;
}

.card-footer {
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;    
}

.card-footer {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.card-footer-stat h3,p {
	margin-top: 2px;
	font-size: 11px;
}

.footer {
	max-width: var(--max-width);
	margin: 0 auto;
	margin-top: 25px;
}

.border {
	display: grid;
	align-items: stretch;
	grid-template-rows: var(--border) 1fr var(--border) ;
	grid-template-columns: var(--border) 1fr var(--border);
	grid-template-areas: 
					"border-left-top border-top border-right-top"
					"border-left content border-right"
					"border-left-bottom border-bottom border-right-bottom";
}

.border-menu {
	display: grid;
	align-items: stretch;
	grid-template-rows: var(--border) min-content var(--border) ;
	grid-template-columns: var(--border) 1fr var(--border);
	grid-template-areas: 
					"border-left-top border-top border-right-top"
					"border-left content border-right"
					"border-left-bottom border-bottom border-right-bottom";
}
