:root {
	--max-width: 1280px;
	--width-interno: 1216px;
	--border: 16px;
	--background: rgb(248, 248, 248);
	--font-size: 12px;
}

* {
    font-size: 10px;
	margin: 0;
	padding: 0;
}

body, input{
	font-family: 'Press Start 2P';
	background: var(--background)
}

input {
	margin-top: 5px;
	padding-left: 2px;
	outline:none;
    box-sizing: content-box;
	caret-color: transparent;
	border: none;
	display: block;
	font-size: 12px;
	letter-spacing: 6px;
	width: 180px;
}

li {
	list-style: none;
	cursor: pointer;
	height: 42px;
	padding-left: 30px ;
	transform: translateY(12px);
}

.option-selected {
	background: url('../img/arrow-empty.png');
	background-size: var(--border);
	background-repeat: no-repeat;
}

li:hover {
	background: url('../img/arrow.png');
	background-size: var(--border);
	background-repeat: no-repeat;
}

.header {
	display: flex;
	margin: 0 auto;
	max-width: var(--max-width);
}

.header-content {
	display: flex;
	justify-content	: space-between;
}

.header div img {
	height: 60px;
}

.search-bar {
	margin: 0 auto;
	max-width: var(--max-width);
}

.search-bar-content {
	padding: 5px 0px;
	margin: 0 auto;
	gap: 10px;
	box-sizing: content-box;
	display: flex;
	flex-direction: column;
}

.search-bar-name {
	grid-area: search-bar-name 
}

.search-bar-order {
	grid-area: search-bar-order
}

.search-bar-filter {
	grid-area: search-bar-filter
}

.search-bar-underline {
	display: flex;
	bottom: 2px;
}

.underline-down {
    width: 18px;
	height: 11px;
    background-size: contain;
	background-image: url("../img/searchBar.png");
}

.underline-top {
	width: 18px;
	height: 11px;
    background-size: contain;
	background-image: url("../img/searchBar2.png");
}

.search-bar-sort-button, .search-bar-filter-button {
	height: fit-content;
	width: fit-content;
    margin-top: 10px;
}

.search-bar-sort-menu {
	position: absolute;
	background: var(--background);
	top: 50px;
	left: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: var(--max-width);
	width: 100%;
}

.search-bar-filter-menu {
	position: fixed;
	background: var(--background);
	top: 0;
	left: 0;
	margin: 0px auto;
	max-width: var(--max-width);
	width: 100%;
}

.filter-menu {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.border {
	display: grid;
	align-items: stretch;
	grid-template-rows: var(--border) 1fr var(--border) ;
	grid-template-columns: var(--border) 1fr var(--border);
	grid-template-areas: 
					"border-left-top border-top border-right-top"
					"border-left content border-right"
					"border-left-bottom border-bottom border-right-bottom";
}

.content {
	grid-area: content;
}

.content-menu {
	margin-top: 10px;
}

.border-left-top {
	background: url("../img/border-left-top.png");
	background-repeat: no-repeat;
	grid-area: border-left-top;
	background-size: contain;
}

.border-top {
	background: url("../img/border-top-bottom.png");
	background-repeat: repeat-x;
	grid-area: border-top;
	background-size: contain;
}

.border-right-top {
	background: url("../img/border-right-top.png");
	background-repeat: no-repeat;
	grid-area: border-right-top;
	background-size: contain;
}

.border-right {
	background: url("../img/border-left-right.png");
	background-repeat: repeat-y;
	grid-area: border-right;
	background-size: contain;
}

.border-right-bottom {
	background: url("../img/border-right-bottom.png");
	background-repeat: no-repeat;
	grid-area: border-right-bottom;
	background-size: contain;
}

.border-bottom {
	background: url("../img/border-top-bottom.png");
	background-repeat: repeat-x;
	grid-area: border-bottom;
	background-size: contain;
}

.border-left-bottom {
	background: url("../img/border-left-bottom.png");
	background-repeat: no-repeat;
	grid-area: border-left-bottom;
	background-size: contain;
}

.border-left {
	background: url("../img/border-left-right.png");
	background-repeat: repeat-y;
	grid-area: border-left;
	background-size: contain;
}

.hidden {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

.flex {
	padding-top: 5px;
	min-height: var(--border);
	max-width: var(--width-interno);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	padding-bottom: 5px;
}

.main {
	margin: 0 auto;
	max-width: var(--max-width);
}

#main-loading {
	margin: 0 auto;
	font-size: 14px;
}

.info-panel {
	left: 50%;
	width: 100vw;
	height: 100vh;
    transform: translateX(-50%);
	background: white;
	top: 0;
	position: fixed;
	max-width: var(--max-width);
}

.info-content {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 8% 38% 54%;
	grid-template-areas: 
					"info-panel-margin info-panel-card info-panel-description"
					"info-panel-margin info-panel-stats info-panel-description"
}

.info-panel-card {
	box-sizing: content-box;
	text-align: center;
	display: flex;
	padding: 10px;
	gap: 10px;
	flex-direction: column;
	justify-content: space-between;
	grid-area: info-panel-card;
}

.info-panel-img {
	transform:scaleX(-1);
	object-fit: contain;
}

.info-panel-stats {
	grid-area: info-panel-stats;
	transform: translateX(10px) translateY(-10px);
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.info-panel-border {
	background-image: url("../img/info-panel-border.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	grid-area: info-panel-border;
}

.info-panel-description {
	display: flex;
	flex-direction: column;
	grid-area: info-panel-description;
}

.info-panel-description-text {
	padding: 10px; 
	font-size: 14px;
	line-height: 20px; 
}

.info-panel-description-close {
	display: none;
	margin-top: auto;
	margin-left: auto;
	padding-bottom: 5px;
}

.info-panel-description-arrow {
	transform: translateY(5px) rotate(90deg);
}

.interval-animation {
	display: block;
} 

.card {
	outline: 2px black solid;
	line-height: 12px;
	height: 175px;
	background: var(--background);
}

.card-header {
	background: white;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 2px solid black;
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-body-img {
	margin: 5px;
	width: 110px;
	height: 110px;
}

.card-body-title {
	text-transform: uppercase;
	margin-top: 5px;
	font-size: 10px;
}

.card-body-title span {
	text-transform: initial;
}

.card-body-number {
	font-size: 8px;
}

.card-footer {
	text-align: center;
}

.card-footer-stat h3,p {
	font-size: 8px;
}

@media screen and (min-width: 360px) {
	* {
		font-size: 12px;
	}

	.info-panel-description-text {
		line-height: 30px; 
	} 

	.search-bar-content {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
						"search-bar-name search-bar-name"
						"search-bar-order search-bar-filter";
	}
	
}

@media screen and (min-width: 480px) {
	.filter-menu {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-height: 480px) {
	.info-content {
		display: grid;
		grid-template-columns: 45% 55%;
		grid-template-rows: 7% 38% 7% ;
		grid-template-areas: 
						"info-panel-margin info-panel-margin"
						"info-panel-card info-panel-stats"
						"info-panel-border info-panel-border"
						"info-panel-description info-panel-description";
	}

	.info-panel-stats{
		justify-content: space-between;
	}
}
